<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AnimaterView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>C++Tools.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>CATransFromDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>65</integer>
		</dict>
		<key>FFMPegDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>22</integer>
		</dict>
		<key>GCDAsyncSocketDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>19</integer>
		</dict>
		<key>IJKPlayerDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>23</integer>
		</dict>
		<key>IOSC++Demo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>IOSCoreDataDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>IOSCoreText.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>IOSGraphicsDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>63</integer>
		</dict>
		<key>IOSProjectDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>IOSRACProductDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>24</integer>
		</dict>
		<key>IOSRealm-OC.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>18</integer>
		</dict>
		<key>IOSRealm.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
		<key>IOSRealmOC.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>17</integer>
		</dict>
		<key>IOSRequestTools.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>IOSSocketServer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>MAC-App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>20</integer>
		</dict>
		<key>NSURLProtrocalDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>PThreadDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>RunLoopDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>21</integer>
		</dict>
		<key>TinderDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>UICollectionViewFlowLayout.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>WebViewDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>WifiUploadDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>dispatch_Queue.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>64</integer>
		</dict>
		<key>mongoose.c mongoose.h MongooseDaemon.h MongooseDaemonDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>rongchat.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>sql-liteDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>62</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4041C0771EA9E0AB0013A70C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4041C0951EA9E1CD0013A70C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4041C0B31EA9E1ED0013A70C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4041C0D61EA9F7940013A70C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4041C0F71EAD98C90013A70C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4041C1501EADAA690013A70C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4059BDFD1E972C0A0067C1F3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4059BE551E9CCFEE0067C1F3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4074D7CA1EB82491003F8D1D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4074D7E21EB8536B003F8D1D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4074D7F81EB853AD003F8D1D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4074D8191EB97F2F003F8D1D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>409B7F061EB9AE4400E7B9A2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>409B7F241EB9C92100E7B9A2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>409B7F4A1EBC27B400E7B9A2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>409B7FED1EBC477200E7B9A2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>409B80081EBC483600E7B9A2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>409B80231EBC4B2300E7B9A2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>409B80401EBC511B00E7B9A2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>409B80631EBC77B300E7B9A2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>409B807E1EBC7F9300E7B9A2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>40A276CB1E9E29C700421E5A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>40CA02921EB08957003363E9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>40D4C0431E9F4E4E00C6DE0F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>40E63D611EAF181100136773</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>40E63D801EAF1E5000136773</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>40E63DA31EAF33CA00136773</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>750B00B71EA4F99D00ED074A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>750B00CF1EA4F99D00ED074A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>750B00DA1EA4F99D00ED074A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>75127A5E1EAE39E50074143C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>75127A761EAE39E50074143C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>75127A811EAE39E50074143C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
